../.DS_Store
.DS_Store
*/__pycache__*
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.sqlite3
*.log
instance/
.webassets-cache
scrapy.cfg
docs/_build/
target/
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
htmlcov/
.tox/
.nox/