.districtSpanSelected {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: medium;
    width: auto;
    background-color: rgb(4, 60, 12);
    color: rgb(225, 229, 230);
    border-radius: '50px';
    display: inline-flex;
    /* display: grid; */
}

.districtSpan {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: small;
    width: auto;
    background-color: rgb(13, 135, 30);
    color: rgb(225, 229, 230);
    border-radius: '50px';
    display: inline-flex;
    /* display: grid; */
}

.districtSpan:hover {
    background-color: rgb(78, 185, 12);
}